In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import csv, requests

DECIMAL = 1
stocks = ["IBULHSGFIN", "SBIN", "DLF", "TATASTEEL", "JINDALSTEL", "BANDHANBNK", "PFC", "APOLLOTYRE", "CADILAHC", "M%26MFIN", "TATAMOTORS"]
percent_from_strike = 0.15
expiry = "2020-09-24" #format "yyyy-mm-dd"

In [2]:
url = "https://www.moneycontrol.com/stocks/fno/view_option_chain.php?sc_id=ACC&sel_exp_date=2020-09-24"

In [3]:
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [4]:
curr_price = float(soup.findAll("p", {"class": "r_28 FL"})[0].find("strong").text.strip())
lower = (1-percent_from_strike)*curr_price
upper = (1+percent_from_strike)*curr_price

data = []
columns = []
table = soup.find('table', {"class": "tblopt"})
rows = table.findAll('tr')
cols = rows[1].findAll('th')
cols = [ele.text.strip() for ele in cols]
columns = [ele for ele in cols if ele]
columns.insert(5, 'Strike Price')
table = soup.findAll('table', {"class": "tblopt"})[1]
rows = table.findAll('tr')
for row in rows:
    cols = row.findAll('td')
    cols = [ele.text.strip().replace(',', '') for ele in cols if ele.text.strip()]
    data.append([float(ele) if ele != '-' else 0 for ele in cols]) # Get rid of empty values
df = pd.DataFrame(data, columns=columns)
df

,LTP (Rs),Net Change,Volume,Open Interest,Change In Open Int,Strike Price,LTP (Rs),Net Change,Volume,Open Interest,Change In Open Int
0,0.00,0.00,0.0,0.0,0.0,800.0,1.00,0.00,0.0,0.0,0.0
1,0.00,0.00,0.0,0.0,0.0,820.0,0.00,0.00,0.0,0.0,0.0
2,0.00,0.00,0.0,0.0,0.0,840.0,0.00,0.00,0.0,0.0,0.0
3,0.00,0.00,0.0,0.0,0.0,860.0,0.00,0.00,0.0,0.0,0.0
4,0.00,0.00,0.0,0.0,0.0,880.0,0.00,0.00,0.0,0.0,0.0
5,0.00,0.00,0.0,0.0,0.0,900.0,0.00,0.00,0.0,0.0,0.0
6,0.00,0.00,0.0,0.0,0.0,920.0,0.00,0.00,0.0,0.0,0.0
7,0.00,0.00,0.0,0.0,0.0,940.0,0.00,0.00,0.0,0.0,0.0
8,0.00,0.00,0.0,0.0,0.0,960.0,0.00,0.00,0.0,0.0,0.0
9,0.00,0.00,0.0,0.0,0.0,980.0,0.00,0.00,0.0,0.0,0.0
10,0.00,0.00,0.0,0.0,0.0,1000.0,0.20,-14.60,6000.0,0.0,0.0
11,0.00,0.00,0.0,0.0,0.0,1020.0,0.00,0.00,0.0,0.0,0.0
12,0.00,0.00,0.0,0.0,0.0,1040.0,0.00,0.00,0.0,0.0,0.0
13,0.00,0.00,0.0,0.0,0.0,1060.0,0.00,0.00,0.0,0.0,0.0
14,0.00,0.00,0.0,0.0,0.0,1080.0,0.00,0.00,0.0,0.0,0.0
15,0.00,0.00,0.0,0.0,0.0,1100.0,0.00,0.00,0.0,0.0,0.0
16,0.00,0.00,0.0,0.0,0.0,1120.0,0.00,0.00,0.0,0.0,0.0
17,0.00,0.00,0.0,0.0,0.0,1140.0,0.00,0.00,0.0,0.0,0.0
18,243.50,0.00,0.0,500.0,0.0,1160.0,0.00,0.00,0.0,0.0,0.0
19,0.00,0.00,0.0,0.0,0.0,1180.0,0.00,0.00,0.0,0.0,0.0
20,0.00,0.00,0.0,0.0,0.0,1200.0,0.00,0.00,0.0,0.0,0.0
21,0.00,0.00,0.0,0.0,0.0,1220.0,0.00,0.00,0.0,0.0,0.0
22,0.00,0.00,0.0,0.0,0.0,1240.0,0.00,0.00,0.0,0.0,0.0
23,0.00,0.00,0.0,0.0,0.0,1260.0,0.00,0.00,0.0,0.0,0.0
24,0.00,0.00,0.0,0.0,0.0,1280.0,9.85,-101.35,1000.0,1000.0,1000.0
25,114.10,-0.90,1500.0,3000.0,0.0,1300.0,11.95,-2.05,42500.0,24500.0,13500.0
26,0.00,0.00,0.0,0.0,0.0,1320.0,16.00,-0.50,4000.0,6000.0,4000.0
27,88.00,0.00,0.0,1000.0,0.0,1340.0,0.00,0.00,0.0,0.0,0.0
28,70.95,3.90,2500.0,1500.0,1500.0,1360.0,28.30,-3.70,44500.0,36000.0,35000.0
29,0.00,0.00,0.0,0.0,0.0,1380.0,35.55,0.65,3000.0,5000.0,-500.0
30,48.30,-2.55,140500.0,47500.0,21000.0,1400.0,47.30,2.30,32000.0,23500.0,13000.0
31,39.00,-2.20,87000.0,36500.0,31500.0,1420.0,57.00,-1.00,2000.0,1500.0,1000.0
32,31.85,-1.50,77500.0,21500.0,5000.0,1440.0,67.30,-0.65,1500.0,1000.0,500.0
33,24.95,-0.90,49000.0,18500.0,13000.0,1460.0,84.00,3.00,2000.0,1000.0,0.0
34,22.35,-14.30,10500.0,6500.0,6500.0,1480.0,0.00,0.00,0.0,0.0,0.0
35,16.55,0.80,198000.0,73500.0,39500.0,1500.0,106.00,-158.40,1000.0,0.0,0.0
36,12.00,0.00,0.0,500.0,0.0,1520.0,0.00,0.00,0.0,0.0,0.0
37,10.45,1.65,14500.0,15500.0,8000.0,1540.0,0.00,0.00,0.0,0.0,0.0
38,8.70,1.70,28500.0,17500.0,15500.0,1560.0,0.00,0.00,0.0,0.0,0.0
39,0.00,0.00,0.0,0.0,0.0,1580.0,0.00,0.00,0.0,0.0,0.0
40,6.05,-1.85,3000.0,2500.0,2000.0,1600.0,0.00,0.00,0.0,0.0,0.0
41,0.00,0.00,0.0,0.0,0.0,1620.0,0.00,0.00,0.0,0.0,0.0
42,0.00,0.00,0.0,0.0,0.0,1640.0,0.00,0.00,0.0,0.0,0.0
43,0.00,0.00,0.0,0.0,0.0,1660.0,0.00,0.00,0.0,0.0,0.0
44,0.00,0.00,0.0,0.0,0.0,1680.0,0.00,0.00,0.0,0.0,0.0

In [5]:
relevant = df[df['Strike Price'].between(lower, upper)]
put_relevant = df[df['Strike Price'].between(lower, curr_price)]
call_relevant = df[df['Strike Price'].between(curr_price, upper)]
put_relevant = put_relevant.iloc[:, [5,6]].round(DECIMAL)
call_relevant = call_relevant.iloc[:, [5,0]].round(DECIMAL)

In [6]:
relevant

,LTP (Rs),Net Change,Volume,Open Interest,Change In Open Int,Strike Price,LTP (Rs),Net Change,Volume,Open Interest,Change In Open Int
20,0.00,0.00,0.0,0.0,0.0,1200.0,0.00,0.00,0.0,0.0,0.0
21,0.00,0.00,0.0,0.0,0.0,1220.0,0.00,0.00,0.0,0.0,0.0
22,0.00,0.00,0.0,0.0,0.0,1240.0,0.00,0.00,0.0,0.0,0.0
23,0.00,0.00,0.0,0.0,0.0,1260.0,0.00,0.00,0.0,0.0,0.0
24,0.00,0.00,0.0,0.0,0.0,1280.0,9.85,-101.35,1000.0,1000.0,1000.0
25,114.10,-0.90,1500.0,3000.0,0.0,1300.0,11.95,-2.05,42500.0,24500.0,13500.0
26,0.00,0.00,0.0,0.0,0.0,1320.0,16.00,-0.50,4000.0,6000.0,4000.0
27,88.00,0.00,0.0,1000.0,0.0,1340.0,0.00,0.00,0.0,0.0,0.0
28,70.95,3.90,2500.0,1500.0,1500.0,1360.0,28.30,-3.70,44500.0,36000.0,35000.0
29,0.00,0.00,0.0,0.0,0.0,1380.0,35.55,0.65,3000.0,5000.0,-500.0
30,48.30,-2.55,140500.0,47500.0,21000.0,1400.0,47.30,2.30,32000.0,23500.0,13000.0
31,39.00,-2.20,87000.0,36500.0,31500.0,1420.0,57.00,-1.00,2000.0,1500.0,1000.0
32,31.85,-1.50,77500.0,21500.0,5000.0,1440.0,67.30,-0.65,1500.0,1000.0,500.0
33,24.95,-0.90,49000.0,18500.0,13000.0,1460.0,84.00,3.00,2000.0,1000.0,0.0
34,22.35,-14.30,10500.0,6500.0,6500.0,1480.0,0.00,0.00,0.0,0.0,0.0
35,16.55,0.80,198000.0,73500.0,39500.0,1500.0,106.00,-158.40,1000.0,0.0,0.0
36,12.00,0.00,0.0,500.0,0.0,1520.0,0.00,0.00,0.0,0.0,0.0
37,10.45,1.65,14500.0,15500.0,8000.0,1540.0,0.00,0.00,0.0,0.0,0.0
38,8.70,1.70,28500.0,17500.0,15500.0,1560.0,0.00,0.00,0.0,0.0,0.0
39,0.00,0.00,0.0,0.0,0.0,1580.0,0.00,0.00,0.0,0.0,0.0
40,6.05,-1.85,3000.0,2500.0,2000.0,1600.0,0.00,0.00,0.0,0.0,0.0

In [7]:
put_relevant.iloc[::-1]

    Strike Price  LTP (Rs)
30        1400.0      47.3
29        1380.0      35.6
28        1360.0      28.3
27        1340.0       0.0
26        1320.0      16.0
25        1300.0      12.0
24        1280.0       9.8
23        1260.0       0.0
22        1240.0       0.0
21        1220.0       0.0
20        1200.0       0.0

In [8]:
call_relevant.iloc[::-1]

    Strike Price  LTP (Rs)
40        1600.0       6.0
39        1580.0       0.0
38        1560.0       8.7
37        1540.0      10.4
36        1520.0      12.0
35        1500.0      16.6
34        1480.0      22.4
33        1460.0      25.0
32        1440.0      31.8
31        1420.0      39.0

In [9]:
url = "https://www.moneycontrol.com/stocks/fno/view_option_chain.php?classic=true"

In [10]:
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [11]:
options = soup.find(id="stock_code").findAll("option")
count = 0
stocks = []
codes = []
for option in options[1:]:
    stock = option.text.strip()
    code = option['value']
    stocks.append(stock)
    codes.append(code)
df = pd.DataFrame(
{
    'Stocks': stocks,
    'MC Codes': codes
})

In [12]:
df

              Stocks MC Codes
0                ACC      ACC
1    Adani Enterpris     AE01
2        Adani Ports      MPS
3        Adani Power     AP26
4      Ajanta Pharma     AP22
..               ...      ...
199           Voltas        V
200            Wipro        W
201        Wockhardt      W05
202         Yes Bank       YB
203    Zee Entertain       ZT

[204 rows x 2 columns]

In [13]:
df.to_csv('links.csv')

In [14]:
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import csv, requests

op = pd.read_csv("links.csv")
url = 'https://www.google.com/search?q=moneycontrol+ACC'

In [16]:
o_url = url
response = requests.get(o_url)

In [ ]:
import